@font-face {
    font-family: 'iconfont';  /* project id 1429615 */
    src: url('//at.alicdn.com/t/font_1429615_91uj18yvxaw.eot');
    src: url('//at.alicdn.com/t/font_1429615_91uj18yvxaw.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_1429615_91uj18yvxaw.woff2') format('woff2'),
    url('//at.alicdn.com/t/font_1429615_91uj18yvxaw.woff') format('woff'),
    url('//at.alicdn.com/t/font_1429615_91uj18yvxaw.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_1429615_91uj18yvxaw.svg#iconfont') format('svg');
}
.iconfont{
  font-family:"iconfont" !important;
  font-size:16px;font-style:normal;color: #999;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;}
