.cakes{
    width: 100%;
    height: 100vh;
    overflow: auto;
    position: relative;
}

.cakes .cakeService{
    width: 61px;
    height: 61px;
    position: fixed;
    top: 450px;
    right: 15px;
}

.cakes .cakeService .service{
    width: 100%;
    height: 100%;
}

.cakes .header{
    width: 100%;
    height: 40px;
    background: #fff;
    color: #fff;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 10px;
    box-sizing: border-box;
}

.cakes .header .images{
    width: 76px;
    height: 16px;
}

.cakes .banners{
    width: 100%;
    height: 250px;
    background: #fff;
}

.swiper {
    width: 100%;
    height: 100%;
}

.slide-image {
    width: 100%;
    height: 100%;
}

.middle{
    width: 100%;
    height: 60px;
    padding: 0 25px;
    display: flex;
    align-items: center;
    background: #fff;
    color: #fff;
    box-sizing: border-box;
}

.middle .middleImage{
    width: 132px;
    height: 30px;
}

.products {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    transition:all 1s;
}

.product{
    width: calc(50% - 5px);
    height: 260px;
    background: #fff;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
    box-sizing: border-box;
}

.product .productImg{
    width: 100%;
    height: 155px;
    display: inline-block;
    margin-bottom: 6px;
}

.product .name{
    font-size: 14px;
    color: #111;
    margin-bottom: 7px;
    line-height: 15px;
}

.product .statictics{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 11px;
}

.product .statictics .data{
    font-size: 11px;
    color: #757575;
}
.product .statictics .origin{
    text-decoration: line-through;
    margin-left: 25px;
}
.product .statictics .data:first-child{
    margin-right: 25px;
}

.product .bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product .bottom .price{
    font-size: 16px;
    color: #ffcc00;
    margin: 0;
}
.product .bottom .add{
    width: 24px;
    height: 24px;
}
